.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0C154F;
}

.App[data-theme="lol"] .loading-container {
  background-color: #001e28;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #7C9AFE;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.App[data-theme="lol"] .spinner {
  border-top-color: #d4a33c;
}

.loading-text {
  margin-top: 20px;
  color: #7C9AFE;
  font-family: 'Quantico-Regular', serif;
  font-size: 1.2em;
}

.App[data-theme="lol"] .loading-text {
  color: #d4a33c;
  font-family: 'Quattrocento-Regular', serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
