@font-face {
  font-family: 'Quantico-Regular';
  src: local('Quantico-Regular'), url(./fonts/Quantico-Regular.ttf) format('truetype');
}

@font-face {
font-family: 'Quantico-Bold';
src: local('Quantico-Bold'), url(./fonts/Quantico-Bold.ttf) format('truetype');
}

.App {
  background-color: #0C154F;
  max-width: 1920px;
  max-height: 1080px;
  height: 937px;
  margin: auto;
}

h1 {
  font-family: 'Quantico-Regular', serif;
  font-size: 5vh;
  color: #7C9AFE;
}

img.game-logo {
  max-width: 70%;
  max-height: 70%;
  margin-top: 3.5em;
}

h2 {
  font-family: 'Quantico-Regular', serif;
  color: #7C9AFE;
  font-size: 4vh;
}

h3 {
  font-family: 'Quantico-Regular', serif;
  font-size: 3vh;
  color: #7C9AFE;
  margin-top: 2.5em;
}

h4 {
  font-family: 'Quantico-Regular', serif;
  font-size: 2.5vh;
  color: #FFF;
}

button {
  font-family: 'Quantico-Regular', serif;
  background: none;
  border: 2px solid #FFF;
  padding: 6px 12px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  width: 178px;
  height: 53px;
}

button:hover {
  background: #0C154F;
  color: #fff;
}

.card-grid {
  padding-top: 4em;
  margin: auto;
  max-width: 90vh;
  max-height: 90vh;
  background-color: #0C154F;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.game-info {
  width: 380px;
  height: 937px;
  text-align: center;
  background-color: #2E3C99;
  float: left;
}